fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
passlib
bcrypt<5
email-validator
psycopg2-binary
python-jose
google-auth
requests
PyJWT
python-dotenv
python-multipart
youtube-transcript-api
requests
